{{ define "main" }}
{{ range $idx, $category := .Params.categories }}
  {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">
  {{ $category }}
  </a>
{{- end }}
{{ with .Site.Params.authorImage }}
    <br>
    <div>
        <img class="matete" src="{{ . }}" />
    </div>
{{ end }}
<div class="matete">
    {{ .Site.Params.Author }}
</div>
<div class="matete">
    {{ .PublishDate.Format "January 2, 2006" }}
</div>
<div class="matete">
    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} Minute {{ else }} Minutes {{ end }}</p>
</div>
<section class="section">
  <article>       
    <div class="columns is-centered">
      <div class="column max-800px">
        <h1 class="title is-1">{{ .Title }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>    
  </article>
</section>
{{ end }}