<html>
    <body style="width: 584px;">
        <table border=0 style="width: 584px; padding-left: 55px; padding-right: 55px;">
            <tr>
                <td style="text-align: left; font-size: 8px ; width: 168px ;">
                    PPP
                </td>
                <td style="text-align: center; font-size: 8px ; width: 168px;">
                    Séance 03
                </td>
                <td style="text-align: right; font-size: 8px ; width: 168px;">
                    11/05/2022 
                </td>
            </tr>
        </table>
    </body>
</html>
